# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
frontend/node_modules
backend/__pycache__/
backend/.venv
backend/venv
backend/.env
backend/asyncpg
backend/pip
backend/install

# testing
frontend/coverage
frontend/node_modules/.cache/.eslintcache

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*